#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  border: 2px solid yellow;
  border-radius: 5%;
  padding: 10px;
}

.active {
  border-color: lime;
}

.player-info {
  display: flex;
  justify-content: space-between;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  width: 300px;
}

.cell {
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.valid {
  cursor: pointer;
}

.valid:hover {
  background-color: purple;
}
